---
twitter:
  config:
    follow:
      account-id-1:
        - "/(.*)/"
      account-id-2:
        - "/(.*)/"
    tokens:
      consumer_key: ""
      consumer_secret: ""
      access_token: ""
      access_token_secret: ""
slack:
  config:
    name: "Pathfinder"
    emoji: ":pathfinder:"
    channel: "#hq-alerts"
  tokens:
    prod: ""
  users:
      user-id-1:
        - "(L1|L5)"
