twitter:
  config:
    follow:
      account0:
      - "2546757852"
      - "@DescuentosRata"
      - "/(|)/"
      account1:
      - "4181934433"
      - "@knasta_cl"
      - "/(|)/"
  token:
    consumer_key: ""
    consumer_secret: ""
    access_token: ""
    access_token_secret: ""
slack:
  config:
    name: "Persabot"
    emoji: ":rat:"
    channel: "#persa"
  token:
    test: "xoxb-*"
    energon: "xoxb-*"


